<div  fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
<mat-toolbar fxLayout="row">
  <span [routerLink]="'home'" class="cursor-pointer" style="padding-right: 40px;"><em>LLP</em></span>
  <div *ngFor="let item of menuItems">
  <button *ngIf="item.menu.length <= 0" [routerLink]="item.link" fxLayoutGap="2px" routerLinkActive="router-link-active" #rla="routerLinkActive" mat-button  fxHide.xs>
      <mat-icon [ngClass]="rla.isActive  ? 'router-link-active' : ''" class="mr">{{item.icon}}</mat-icon>
      <span [ngClass]="rla.isActive  ? 'router-link-active' : ''">{{item.label}}</span>
  </button>

  <button  *ngIf="item.menu.length > 0"  [matMenuTriggerFor]="menu"  fxLayoutGap="2px" routerLinkActive="router-link-active" #rla="routerLinkActive" mat-button  fxHide.xs>
    <mat-icon [ngClass]="rla.isActive  ? 'router-link-active' : ''" class="mr">{{item.icon}}</mat-icon>
    <span [ngClass]="rla.isActive  ? 'router-link-active' : ''">{{item.label}}</span>
</button>

<mat-menu #menu="matMenu">
   <div *ngIf="item.menu">
      <ng-container *ngFor="let item of item.menu">
          <button [routerLink]="item.link" mat-menu-item>
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.title}}</span>
          </button>
          <mat-divider></mat-divider>
      </ng-container>
    </div>
  </mat-menu>

</div>
  <div class="example-spacer">
  </div>
    <mat-icon class="cursor-pointer">search</mat-icon>
   <button  class="btn-bg" [style.margin.px]="10" mat-raised-button >
    <mat-icon>mail</mat-icon>
    Invite
  </button>

  <img class="img-card-nav example-spacer-right" [style.marginRight.px]="30" src={{userObj.profile}}>

  <button mat-icon-button [matMenuTriggerFor]="dropMenu"  fxHide fxShow.xs>
      <mat-icon>more_vert</mat-icon>
  </button>
    <div>

  <mat-menu #dropMenu="matMenu">
    <div *ngFor="let item of menuItems">
      <ng-container >
          <button *ngIf="item.menu.length <= 0"  [routerLink]="item.link" mat-menu-item>
              <mat-icon class="mr">{{item.icon}}</mat-icon>
              {{item.label}}
          </button>
          <button *ngIf="item.menu.length > 0"   [matMenuTriggerFor]="mobileView" mat-menu-item>
            <mat-icon class="mr">{{item.icon}}</mat-icon>
            {{item.label}}
        </button>

        <mat-menu #mobileView="matMenu" yPosition="below">
          <div *ngIf="item.menu">
              <ng-container *ngFor="let item of item.menu">
                  <button [routerLink]="item.link" mat-menu-item>
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span>{{item.title}}</span>
                  </button>
                  <mat-divider></mat-divider>
              </ng-container>
            </div>
  </mat-menu>
          <mat-divider></mat-divider>
      </ng-container>
    </div>
  </mat-menu>

  </div>
</mat-toolbar>
</div>
